@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  --font-family: "Montserrat", sans-serif;
  --font-Weight-light: 300;
  --font-Weight-regular: 400;
  --font-Weight-medium: 500;
  --font-Weight-bold: 700;

  --heading-font-weight: 800;
  --heading-font-size: 5rem;
  --heading-line-height: 109%;
  --heading-letter-spacing: -0.03em;
  --heading-color: #fff;
  --heading-gradient: linear-gradient(245deg, #237249 0%, #35c66b 100%);

  --text-font-weight: 400;
  --text-font-size: 1.25rem;
  --text-line-height: 163%;
  --text-letter-spacing: -0.02em;
  --text-color: #d9d9d9;
}

body {
  font-family: var(--font-family);
}
